h1{
	text-align: center;
}
h3{
	text-align: ;
}
hr {
	height: 5px;
	background-color: black;
	width: 50%;
}
.head {
	text-align: center;
	width: 100%;
	width: auto;
	font-size: 18px;
}
	
}
.contact {
	display: inline-block;
	padding-bottom: 20px;
	padding-top: 10px;
	width: auto;
	float: right; 
	margin: 0 auto;
	font-size: 18px;
}
.star {
	padding-top: 8px;
}

.info {
	text-align: left;
	padding-left: 400px;
}

.net{
	font-style: bold;
	font-size: 16px;
	font-weight: bold;
}







body{
	background-color: #FFFFFF;
}


.offer{
	display: inline-block;
	width: 775px;
	margin: 4px;
	text-align: center;

}

.offer{
	display: inline-block;
	width: 775px;
	margin: 4px;
	text-align: center;

}

.container{
	text-align: center;
	font-size: 15px;
}

.offerTitle{
	font-size: 18px;
	font-weight: bold;
	font-style: bold;
	padding-top: 15px;
	text-align: left;

}

.offerContents{
	padding: 20px;

}

table{
	width: 100%;
	
	

}
td{
	font: lighter;
	font-weight: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px;
}

th{
	font-weight: bold;
	font-size: 12px;
	color: #777777;
	padding: 10px;
	margin: 0px;

}

td, tr{
	text-align: left;
	font-weight: lighter;
}
